@media (min-width: 950px) {
  .tentang {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  .about {
    margin-top: 0;
  }
  .bungkus {
    width: 35%;
  }
  .bungkus-2 {
    width: 65%;
    margin-top: 0;
  }
}